black==24.10.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
coverage==7.6.10
flake8==7.1.1
idna==3.10
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
mirakuru==2.5.3
mypy==1.14.1
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
port-for==0.7.4
psutil==6.1.1
psycopg==3.2.3
psycopg2==2.9.10
pycodestyle==2.12.1
pyflakes==3.2.0
pytest==8.3.4
pytest-cov==6.0.0
pytest-postgresql==6.1.1
requests==2.32.3
setuptools==75.8.0
types-psycopg2==2.9.21.20241019
types-requests==2.32.0.20241016
typing_extensions==4.12.2
urllib3==2.3.0
